/*#2c3e50*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: #063665;
}

.promo {
  background-color: #063665;
  color: white;
  width: 100%;
  padding: 10px 0 10px 0;
  text-align: center;
  box-shadow: 3px 3px 3px black;
}
.promo h3 {
  font-size: 1.2rem;
}

.producto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px solid #063665;
  margin: 20px;
  border-radius: 5px;
}
.producto:hover {
  background-color: #F2F6FA;
  border: 3px solid black;
  cursor: pointer;
  transition: 1s ease 0s;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.nombreProducto, .precioProducto, .colorProducto, .comprar {
  padding: 15px 0;
  background-color: #063665;
  color: #F2F6FA;
  width: 100%;
  font-family: sans-serif;
}

.comprar button {
  width: 120px;
  height: 45px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}
.comprar button:hover {
  cursor: pointer;
  background-color: #2e5174;
}

.colorProducto input {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: #063665;
}

.productoImagen img {
  width: 259px;
  height: 194px;
}

.contenedorSucursales {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tituloSuc {
  margin-top: 150px;
}

.mapa iframe {
  width: 270px;
  height: 300px;
}

.sucursal {
  margin: 20px;
  border: 1px solid #333;
  text-align: center;
  padding: 10px;
  background-color: #063665;
  border-radius: 5px;
}
.sucursal:hover {
  background-color: #F2F6FA;
  color: #333;
  border: 2px solid #063665;
  transition: 1.5s ease 0s;
}
.sucursal:hover .mapaDetalle {
  color: #333;
}

.mapaDetalle {
  color: white;
}

.formularioContacto {
  margin: 30px;
  border: 2px solid rgb(6, 53, 68);
  padding: 1em;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  background-color: black;
  opacity: 0.9;
}
.formularioContacto p {
  margin: 30px 0;
  text-align: center;
}
.formularioContacto h3 {
  text-align: center;
  color: white;
}
.formularioContacto label {
  color: white;
  margin: 10px;
}
.formularioContacto button {
  background-color: #063665;
  border: none;
  padding: 0.5em;
  width: 90%;
  height: 45px;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}
.formularioContacto button:hover {
  background-color: #2e5174;
  cursor: pointer;
}

.formularioContacto input,
.formularioContacto textarea {
  width: 95%;
  padding: 0.5em;
  border: none;
  border: 1px solid rgb(6, 53, 68);
  border-radius: 5px;
  opacity: 0.9;
}

.contenedorContacto {
  margin-bottom: 30px;
  background-image: url(../images/Calea.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 140px;
}
.contenedorContacto h1 {
  font-size: 40px;
  padding: 30px;
  color: #063665;
}

main {
  min-height: 500px;
}

footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 10px;
}
footer .logo {
  text-align: center;
  padding: 20px 0;
  margin-left: 20px;
  margin-bottom: 20px;
}
footer .logo img {
  width: 100px;
  height: 100px;
}

.redes {
  width: 100%;
  text-align: center;
  margin: auto;
}
.redes a {
  width: 60px;
  height: 60px;
  padding: 0 20px;
  margin-top: 40px;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.telefono {
  padding: 20px 0;
  text-align: center;
  margin: auto;
}

.linea {
  border: 1px solid white;
  grid-column: 1/4;
  margin: 0 15px;
}

.copiright {
  grid-column: 1/4;
  padding: 20px;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  background: black;
  height: 90px;
  width: 100%;
  box-shadow: 5px 5px 5px #063665;
}
nav .logo {
  width: 80px;
  height: 80px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

li a.active, li a:hover {
  background: #063665;
  transition: 1s ease 0s;
}

.checkBtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#checkBtn {
  display: none;
}

.contenedorNos {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contenedorNos img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 20px;
  padding: 10px;
  grid-column: 1/2;
}
.contenedorNos h1 {
  grid-column: 1/3;
  width: 100%;
  color: #063665;
}
.contenedorNos p {
  color: #063665;
}

.imagenBic {
  background-image: url(../images/biciAntigua.jpg);
  background-position: center;
  background-size: cover;
  margin: 25px;
  animation: galeria 18s infinite;
}

@keyframes galeria {
  0%, 100% {
    background-image: url(../images/biciAntigua.jpg);
  }
  25% {
    background-image: url(../images/images.jpg);
  }
  50% {
    background-image: url(../images/familia.png);
  }
  75% {
    background-image: url(../images/niba2.jpg);
  }
}
.contenidoNos1 {
  grid-column: 2/3;
  margin: 20px;
  padding: 10px;
  color: #063665;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}
.contenidoNos1 p {
  font-size: 1.4rem;
}
.contenidoNos1 h2 {
  text-align: center;
  margin: 20px 0;
}

.contenidoNos2 {
  grid-column: 1/3;
  margin: 20px;
  padding: 10px;
  color: #063665;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 120px;
}

.imagenPrincipal {
  grid-column: 1/4;
  margin: 20px auto;
}

.imagenArticulo {
  background-image: url("../images/images.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  grid-column: 1/4;
  display: flex;
}

.prueba {
  overflow-y: hidden !important;
  opacity: 0.9;
}
.prueba img {
  width: 650px;
  height: 400px;
}

.textoPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #063665;
}

.mesage {
  grid-column: 1/4;
  min-height: 100px;
  background-image: linear-gradient(to top, #063665, black);
  color: white;
  text-align: center;
  box-shadow: 5px 5px 5px #063665;
}

.mesage h4 {
  font-size: 30px;
  margin-top: 20px;
}

.parrafo {
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 20px;
  grid-column: 1/4;
  margin: 20px;
  width: 40%;
  padding: 20px;
  font-size: 1.5rem;
}
.parrafo p {
  margin: 20px;
}

.parrafo1 {
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 20px;
  grid-column: 3/4;
  margin: 20px;
  width: 40%;
  padding: 20px;
  font-size: 1.5rem;
}
.parrafo1 p {
  margin: 20px;
}

@media (max-width: 1300px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
  .contenedorSucursales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
  .linea {
    border: 1px solid white;
    margin: 0 15px;
  }
  .contenedorContacto {
    min-height: 75vh;
  }
  .contenedorContacto p {
    font-size: 1.2rem;
  }
  .contenedorNos {
    min-height: 75vh;
  }
  .contenedorNos p {
    font-size: 1.2rem;
  }
  .imagenArticulo {
    grid-column: 1/4;
  }
  .textoPrincipal {
    grid-column: 1/4;
    margin: 15px;
  }
  .contenedorNos {
    grid-template-columns: repeat(2, 1fr);
  }
  .imagenBic {
    grid-column: 1/3;
    height: 480px;
  }
  .contenidoNos1 {
    grid-column: 1/3;
  }
}
@media (max-width: 1050px) {
  .contenedorNos {
    grid-template-columns: repeat(2, 1fr);
  }
  .imagenBic {
    grid-column: 1/3;
    height: 400px;
  }
  .contenidoNos1 {
    grid-column: 1/3;
  }
}
@media (max-width: 958px) {
  .checkBtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #063665;
    opacity: 0.7;
    top: 130px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    opacity: 1;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover {
    background: none;
    color: black;
  }
  li a.active {
    background: none;
    color: black;
  }
  #checkBtn:checked ~ ul {
    left: 0;
  }
  .prueba2 {
    width: 650px;
    height: auto;
    margin: auto;
  }
  .prueba {
    width: 650px;
    height: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .linea {
    border: 1px solid white;
    margin: 0 15px;
  }
}
@media (max-width: 958px) {
  .linea {
    border: 1.5px solid white;
    width: 800px;
    margin: 0 15px;
  }
}
@media (max-width: 899px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
  .linea {
    border: 1px solid white;
    margin: 0 15px;
  }
  /*slide inicio*/
  .prueba2 img {
    width: 550px;
    height: 350px;
    margin: auto;
  }
  .prueba img {
    width: 550px;
    height: 350px;
  }
  .linea {
    border: 1px solid white;
    margin: 0 15px;
    width: 90%;
  }
  .contenedorNos img {
    width: 100%;
    height: 100%;
  }
  .contenidoNos1 {
    grid-column: 1/3;
    margin: 20px;
    padding: 10px;
    color: #063665;
    width: 95%;
  }
  .contenidoNos2 {
    grid-column: 1/3;
    margin: 20px;
    padding: 10px;
    font-size: 1.4rem;
  }
  .noMostrar {
    display: none;
  }
  .imagenBic {
    background-image: url(../images/biciAntigua.jpg);
    background-position: center;
    background-size: cover;
    margin: 25px;
    animation: galeria 18s infinite;
    grid-column: 1/3;
    height: 320px;
  }
  @keyframes galeria {
    0%, 100% {
      background-image: url(../images/biciAntigua.jpg);
    }
    25% {
      background-image: url(../images/images.jpg);
    }
    50% {
      background-image: url(../images/familia.png);
    }
    75% {
      background-image: url(../images/niba2.jpg);
    }
  }
}
@media (max-width: 630px) {
  .contenedorSucursales {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .linea {
    width: 90%;
  }
  .contenedorNos img {
    width: 300px;
    height: 300px;
  }
  .parrafo {
    width: 90%;
  }
  .parrafo1 {
    display: none;
  }
}
@media (max-width: 580px) {
  .productContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }
  .linea {
    width: 90%;
  }
  .prueba2 {
    width: 540px;
    height: auto;
    margin: auto;
  }
  .prueba {
    width: 540px;
    height: auto;
  }
  .prueba img {
    width: 530px;
    height: auto;
  }
  .contenedor {
    margin-top: 120px;
  }
  .contenidoNos1 {
    width: 95%;
    padding: 10px 0;
  }
}
@media (max-width: 450px) {
  .prueba {
    width: 400px;
    height: auto;
    text-align: center;
  }
  .prueba img {
    width: 350px;
    height: auto;
  }
  .prueba2 {
    width: 400px;
    height: 250px;
    margin: auto;
    text-align: center;
  }
  .prueba2 img {
    width: 350px;
    height: auto;
    margin: auto;
  }
  .carousel-inner {
    width: 400px;
    margin: auto;
  }
  .contenedorSucursales {
    margin-top: 20px;
  }
  .linea {
    width: 90%;
  }
  .contenidoNos1 {
    width: 90%;
  }
}
/*galaxy fold*/
@media (max-width: 280px) {
  .sucursal {
    margin: 20px;
    border: 1px solid #063665;
    text-align: center;
    background-color: #063665;
    border-radius: 5px;
    max-width: 250px;
    overflow: hidden;
  }
  .contenedorNos {
    max-width: 280px;
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedorNos img {
    width: 230px;
    height: 230px;
  }
  .contenedorNos h1 {
    text-align: center;
    grid-column: 1/3;
  }
  .contenidoNos1 {
    width: 250px;
  }
  .producto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #063665;
    margin: 10px;
    border-radius: 5px;
  }
  .prueba2 {
    width: 240px;
    height: auto;
    margin: auto;
  }
  .prueba {
    width: 240px;
    height: auto;
  }
  .prueba img {
    width: 230px;
    height: auto;
  }
  .prueba .mesage {
    height: 150px !important;
  }
  .contenedor {
    margin-top: 120px;
  }
  .contenedorContacto h1 {
    font-size: 1.8rem;
  }
  .imagenBic {
    width: 242px;
  }
}


/*# sourceMappingURL=style.css.map */
