
//resposive 1300px

@media (max-width:1300px) {
    .productContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 40px;
    }
	.contenedorSucursales {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		margin-top: 40px;
	}
	.linea {
		border: 1px solid $color_2;
		margin: 0 15px;
	}
  
  .contenedorContacto{
    min-height: 75vh;
    p{
      font-size: 1.2rem;
    }
  }
  .contenedorNos{
    min-height: 75vh;
    
    p{
      font-size: 1.2rem;
    }
  }
  .imagenArticulo{
    grid-column: 1/4;
    
  }
  .textoPrincipal{
    grid-column: 1/4;
    margin: 15px;
    
  }
  .contenedorNos{
    grid-template-columns: repeat(2,1fr);

  }
  .imagenBic{
    grid-column: 1/3;
    height: 480px;
  }
  .contenidoNos1{
    grid-column: 1/3;
  }
}
//ipad air
@media(max-width:1050px){
  .contenedorNos{
    grid-template-columns: repeat(2,1fr);

  }
  .imagenBic{
    grid-column: 1/3;
    height: 400px;
  }
  .contenidoNos1{
    grid-column: 1/3;
  }
}
//menu responsive y footer
@media (max-width: 958px){
  .checkBtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: $color_promo;
      opacity: 0.7;
      top: 130px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      opacity: 1;
      a{
        font-size: 20px;
    }
    }
  
    li {
      a {
        &:hover {
          background: none;
          color: $color_1;
        }
      }
      a.active {
        background: none;
        color: $color_1;
      }
    }
  #checkBtn:checked ~ ul{
      left:0;
  }
  .prueba2{
    width: 650px;
    height: auto;
    margin:auto;
  }
  .prueba{
    width: 650px;
    height: auto;
  
  }
    footer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .linea{
      border:1px solid $color_2;
      margin: 0 15px;
  }
}
@media (max-width:958px){
  .linea {
		border: 1.5px solid $color_2;
    width: 800px;
		margin: 0 15px;
	}
}

@media (max-width: 899px){
  .productContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:20px;
  }
  .linea {
		border: 1px solid $color_2;
		margin: 0 15px;
	}
  /*slide inicio*/
  .prueba2 img{
    width: 550px;
    height: 350px;
    margin:auto;
  }
  .prueba img{
    width: 550px;
    height: 350px;
  
  }
  .linea{
    border:1px solid $color_2;
    margin: 0 15px;
    width: 90%;
}

.contenedorNos img{
  width: 100%;
  height: 100%;
 
  
}
.contenidoNos1{
  grid-column: 1/3;
  margin:20px;
  padding: 10px;
  color:$color_promo;
  width: 95%;
}
.contenidoNos2{
  grid-column: 1/3;
  margin: 20px;
  padding: 10px;
  font-size: 1.4rem;
}
.noMostrar{
  display: none;
}
.imagenBic{
    background-image: url(../images/biciAntigua.jpg);
    background-position: center;
    background-size: cover;
    margin:25px;
    animation: galeria 18s infinite;
    grid-column: 1/3;
    height: 320px;
  
  }
  @keyframes galeria {
    0%, 100%{
      background-image: url(../images/biciAntigua.jpg);
    }
    25%{
      background-image: url(../images/images.jpg);
    }
    50%{
      background-image: url(../images/familia.png);
  
    }
    75%{
      background-image: url(../images/niba2.jpg);
    }
  }
  
}
@media (max-width:630px){
  .contenedorSucursales{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top:20px;
  }
  .linea{
    width: 90%;
  }
  .contenedorNos img{
    width: 300px;
    height: 300px;
    
  }
  .parrafo{
    width: 90%;
  }
  .parrafo1{
    display: none;
  }
  .carritoEnProducto{
    font-size: 15px;
  }
  .TituloCar{
    font-size: 18px;
  }
}

@media (max-width: 580px){
  .productContainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top:20px;
  }
  .linea{
    width: 90%;
  }
  .prueba2{
    width: 540px;
    height: auto;
    margin:auto;
  }
  .prueba{
    width: 540px;
    height: auto;
    img{
      width: 530px;
      height: auto;
    
    }
  }
  
  .contenedor{
    margin-top: 120px;
  }
  .contenidoNos1{
    width: 95%;
    padding: 10px 0;
  }

}
@media(max-width:450px){
  
  .prueba{
    width: 400px;
    height: auto;
    text-align: center;
    img{
      width: 350px;
      height: auto;
    
    }
  }
  .prueba2{
    width: 400px;
    height: 250px;
    margin:auto;
    text-align: center;
    img{
      width: 350px;
      height: auto;
      margin:auto;
    }
  }
 .carousel-inner{
  width: 400px;
  margin:auto;
 }
 .contenedorSucursales{
  margin-top: 20px;
 }
 .linea{
  width: 90%;
 }
 .contenidoNos1{
  width: 90%;
 }
}

/*galaxy fold*/
@media (max-width:280px){

  .sucursal{
    margin:20px;
    border: 1px solid $color_promo;
    text-align: center;
    background-color: $color_promo;
    border-radius: 5px;
    max-width: 250px;
    overflow: hidden;
  }
  .contenedorNos {
    max-width: 280px;
    grid-template-columns: repeat(1,1fr);
    img{
    width: 230px;
    height: 230px;
  }
  h1{
    text-align: center;
    grid-column: 1/3;
  }
}
  .contenidoNos1{
    width: 250px;
  }
  .producto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid $color_promo;
    margin: 10px;
    border-radius: 5px;
  }
  .prueba2{
    width: 240px;
    height: auto;
    margin:auto;
  }
  .prueba{
    width: 240px;
    height: auto;
    img{
      width: 230px;
      height: auto;
    
    }
    .mesage{
        height: 150px !important;
    }
    
  }
  
  .contenedor{
    margin-top: 120px;
  }
  .contenedorContacto{
    h1{
        font-size: 1.8rem;
    }
  }
  .imagenBic{
    width: 242px;
    }  
  }

