$color_1: black;
$color_2:white;
$color_promo:#063665;/*#2c3e50*/
$color_3:#F2F6FA;
$color_4:#333;
$color_contacto:rgb(6, 53, 68);
$color_contac_hover:#2e5174;
$fuente:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$ancho:100%;